<header id="header">
  <div class="header_bar">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "perkycrow_logo.png", alt: "PerkyCrow logo" %>
      <% end %>
    </div>

    <h1 class="tagline">
      telling tales through <strong>indie games</strong>
    </h1>
  </div>
</header>
