<section class="projects">
  <div class="card">
    <div class="image">
      <%= image_tag "card_mist.png", alt: "The Mistbrewer logo" %>
    </div>

    <div class="description">
      <h2>The Mistbrewer</h2>
      <p>Step into the world of Dreamless and start your journey as the Mistbrewer. This <strong>casual game</strong> is easy to pick up and play, with a <strong>chapter-based progression</strong> that will keep you engaged from start to finish.</p>

      <div class="actions">
        <%= link_to "Now in alpha!", mistbrewer_path, class: "button" %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= image_tag "card_kalah.png", alt: "Kalah logo" %>
    </div>

    <div class="description">
      <h2>Kalah</h2>
      <p>Embark on a haunting adventure in the world of Dreamless as Kalah. Explore a <strong>hand-crafted</strong> 2D landscape filled with secrets waiting to be uncovered. Face the challenges of the suffocating <strong>mist</strong> head on and unravel its mysteries. Get ready for a short, intense journey that will leave a lasting impression.</p>

      <div class="actions">
        Landing <strong>late 2027</strong>
      </div>
    </div>
  </div>
</section>
