<section id="legal_notice">
  <h2>
    Mentions l&eacute;gales <small>- Legal Notice</small>
  </h2>

  <h3>Informations sur la Soci&eacute;t&eacute; <small>- Company Information</small></h3>

  <ul>
    <li>SAS <strong>Perky Crow</strong></li>
    <li>SIRET: 91378993900026</li>
    <li>RCS: Albi B 913 789 939</li>
    <li>TVA Intra.: FR61913789939</li>
    <li>Capital: 4 400 Euros</li>
    <li>Si&egrave;ge social: 98 rue Joseph Rigal - 81600 Gaillac - France</li>
    <li>Directeur de la publication : M. Cyrille Bogaert</li>
    <li>Email: <a href="mailto:contact@perkycrow.com">contact@perkycrow.com</a></li>
  </ul>

  <h3>H&eacute;bergement <small>- Hosting</small></h3>

  <ul>
    <li>SAS <strong>OVH</strong></li>
    <li>Capital: 10 174 560 Euros</li>
    <li>RCS: Lille M&eacute;tropole 424 761 419 00045</li>
    <li>Code APE: 2620Z</li>
    <li>TVA Intra.: FR22424761419</li>
    <li>Si&egrave;ge social: 2 rue Kellermann - 59100 Roubaix - France</li>
  </ul>
</section>
