<section class="error">
  <h2>Error 404 <small>not found</small></h2>

  <p>Once upon a time, a traveler searched for a web page, but it was <strong>nowhere to be found</strong>.</p>

  <p><strong>The Perky Crow</strong> appeared, promising to help, but flew too fast and lost the page once more.</p>

  <p class="end">Remember to be cautious of mischievous birds,<br>for they may lead you astray in your journey through the web.</p>

  <p class="illustration"><%= image_tag "404.png", alt: "A crow with lost pages flying around" %></p>
</section>
