<section class="error">
  <h2>Error 406 <small>unacceptable</small></h2>

  <p>Oops! It looks like we can't serve this content in a format you can accept. Please check your request and try again.</p>
</section>
